@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "Noto Sans SC", sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}