@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, var(--font-rubik),
    var(--font-noto-sans), "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  background-color: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}
